[Desktop Entry]
Name=Terminal
Comment=Use the command line
Keywords=shell;prompt;command;commandline;


# Translations
Comment[it]=Usa la riga di comando
Name[it]=Terminale
