[Desktop Entry]
Type=Application
Name=Terminal
Comment=Use the command line
Keywords=shell;prompt;command;commandline;
TryExec=hawaii-terminal
Exec=hawaii-terminal
Icon=utilities-terminal
Categories=Hawaii;Qt;Utility;System;TerminalEmulator;
StartupNotify=true


# Translations
