[Desktop Entry]
Type=Application
Name=Terminal
Comment=Use the command line
Keywords=shell;prompt;command;commandline;
TryExec=hawaii-terminal
Exec=hawaii-terminal
Icon=utilities-terminal
Categories=Hawaii;Qt;Utility;System;TerminalEmulator;
StartupNotify=true
Comment[ar]=استخدم سطر اﻷوامر
Name[ar]=الطرفية
Icon[ar]=خدمات الطرفية
Comment[de]=Kommandozeile benutzen
Name[de]=Konsole
Icon[de]=utilities-terminal
Comment[el]=Χρήση γραμμής εντολών
Name[el]=Τερματικό
Icon[el]=utilities-terminal
Comment[fr]=Utiliser la ligne de commande
Name[fr]=Terminal
Icon[fr]=utilities-terminal
Comment[hu]=A parancssor használata
Name[hu]=Terminál
Comment[it]=Usa la riga di comando
Name[it]=Terminale
Icon[it]=utilities-terminal
Comment[no]=Bruk kommandolinjen
Name[no]=Terminal
Icon[no]=verktøy-terminal
Comment[pl]=Używaj wiersza poleceń
Name[pl]=Terminal
Icon[pl]=utilities-terminal
Comment[pt_BR]=Use a linha de comando
Name[pt_BR]=Terminal
Icon[pt_BR]=utilities-terminal
Comment[ru]=Использовать командную строку
Name[ru]=Терминал
Icon[ru]=utilities-terminal
Comment[sk]=Použiť príkazový riadok
Name[sk]=Terminál
Icon[sk]=utilities-terminal
Comment[tr]=Komut satırını kullan
Name[tr]=Uçbirim
Icon[tr]=uygulamalar-uçbirim
