[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Terminal
Name[no]=Terminal
Name[ar]=الطرفية
Name[hu]=Terminál
Name[de]=Konsole
Name[pt_BR]=Terminal
Name[it]=Terminale
Name[tr]=Uçbirim
Name[el]=Τερματικό
Name[ru]=Терминал
Name[fr]=Terminal
Name[sk]=Terminál
Name[pl]=Terminal
Comment=Use the command line
Comment[no]=Bruk kommandolinjen
Comment[ar]=استخدم سطر اﻷوامر
Comment[hu]=A parancssor használata
Comment[de]=Kommandozeile benutzen
Comment[pt_BR]=Use a linha de comando
Comment[it]=Usa la riga di comando
Comment[tr]=Komut satırını kullan
Comment[el]=Χρήση γραμμής εντολών
Comment[ru]=Использовать командную строку
Comment[fr]=Utiliser la ligne de commande
Comment[sk]=Použiť príkazový riadok
Comment[pl]=Używaj wiersza poleceń
Keywords=shell;prompt;command;commandline;
TryExec=hawaii-terminal
Exec=hawaii-terminal
Icon=utilities-terminal
Categories=Hawaii;Qt;Utility;System;TerminalEmulator;
StartupNotify=true
