[Desktop Entry]
Type=Application
Name=Terminal
Name[it]=Terminale
Comment=Use the command line
Comment[it]=Usa la riga di comando
TryExec=Terminal
Exec=Terminal
Icon=utilities-terminal
Categories=Qt;Hawaii;Utility;TerminalEmulator;
OnlyShowIn=Hawaii;
Keywords=Run;
Actions=New;

X-Hawaii-Identifier=org.maui.Terminal
X-Hawaii-Version=0.0.0

[Desktop Action New]
Name=New Terminal
Name[it]=Nuovo terminale
Exec=Terminal
OnlyShowIn=Hawaii;
